@media (max-width: 768px) {
    .form-container {
        border-radius: 0px 0px 30px 30px !important;
        height: 85vh !important;
    }

    .form-container > div:nth-child(1) {
        margin-bottom: 2rem !important;
    }

    .form-container > *:nth-last-child(1) {
        width: 72.5% !important;
        text-align: center;
    }
    
    .form-container > div:nth-last-child(2) {
        gap: 1rem !important;
    }

    .form-container > div:nth-last-child(2) > input {
        text-align: center !important;
    }

    .logo-tiradentes {
        display: none !important;
    }

    .aside-container {
        height: 15vh !important;
    }
}